/* --- FOOTER DESKTOP --- */
.footer {
  width: 100%;
  text-align: center;
  margin: 92px auto 24px auto;
}

.footer__copyright {
  width: 166px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.7;
  margin: 0 auto;
}

/* --- 1. TABLET (max-width: 1023px) --- */
@media (max-width: 1023px) and (min-width: 544px) {
  /*  FOOTER  */
  .footer {
    width: 100%;
    text-align: center;
    margin: 88px auto 24px auto;
    padding: 0 24px;
  }
}

/* --- MOBILE (até 543px) --- */
@media (max-width: 543px) {
  /*  FOOTER  */
  .footer {
    width: 166px;
    height: 14px;
    margin: 64px auto 24px auto; /* distância do paragraph */
    text-align: center;
  }

  .footer__copyright {
    width: 166px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    opacity: 0.7;
    margin: 0 auto;
  }
}
