/* --- GERAL --- */
.places {
  padding: 0 48px;
  box-sizing: border-box;
}

/* --- MEDIA QUERY: TABLET (1023px a 544px) --- */
@media (max-width: 1023px) and (min-width: 544px) {
  .places {
    padding: 0 24px;
  }
}

@media (max-width: 543px) {
  .places {
    padding: 0;
  }
}
